<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
  </head>
  <body>
    <div>
      <h1>SignUp</h1>
      <form action="http://localhost:8000/user" method="post">
        <label for="name">Name: </label>
        <input required type="text" name="name" id="name" />
        <label for="email">Email: </label>
        <input required type="text" name="email" id="email" />
        <label for="password">Password: </label>
        <input required type="text" name="password" id="password" />
        <button type="submit">Signup</button>
      </form>
    </div>
  </body>
</html>
